html,
body {
  margin: 0;
  height: 100%;
}

/* ------------------- Nav Bar ------------------- */
#nav-bar-container {
  display: flex;
  list-style: none;
  height: 5vh;
  align-items: center;
  justify-content: space-between;
}
#nav-links,
#nav-socials {
  display: flex;
}
#nav-links li,
#nav-socials li {
  text-align: center;
  width: 5vw;
}

/* ------------------- Home Page ------------------- */

/* MAIN BOX */
#mainHome {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100vw;
}

/* Featured Cocktail Banner */
#featured-container {
  width: 65rem;
  height: 65rem;
  display: grid;
  grid-template-areas:
    "c c c c c a"
    "c c c c c a"
    "c c c c c .";
}

#featured-cocktail {
  grid-area: c;
  background-color: aqua;
}

#featured-accent-box {
  grid-area: a;
  background-color: blueviolet;
}

#featured-cocktail-button-container {
  background-color: pink;
}

/* Find Your Cocktail */

#find-your-cocktails-container {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;
}

.cocktail-function {
  background-color: chocolate;
}
