#nav-bar-container {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

/* #nav-links {
  display: flex;
  justify-content: space-between;
} */
#link-container,
#nav-socials {
  width: 25vw;
  display: flex;
  justify-content: space-between;
}
